name: Build Notebook and Deploy to GitHub Pages
on: [push, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    name: Build Typst Document
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Typst
        uses: typst-community/setup-typst@v4.1.0
        with:
          typst-version: 0.13.1

      - name: Compile Notebook
        run: |
          typst compile main.typ --font-path=./assets/fonts/

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: notebook
          path: main.pdf
  # This job builds the GitHub Pages site using the PDF generated in the build job
  build-pages:
    name: Build GitHub Pages Site
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download PDF file
        uses: actions/download-artifact@v4
        with:
          name: notebook
          # Destination path for the downloaded artifact
          path: docs/pages
      - name: Move PDF to root
        run: mv main.pdf index.pdf
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/pages
  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build-pages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

